<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
</head>

<body>
    <h1>Welcome to Book App!</h1>
    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ullam cumque minima
        fugiat quae eligendi distinctio ipsam totam voluptatum laboriosam. Architecto laboriosam odio dolore ratione
        magnam optio quasi nesciunt excepturi!
        Earum cum voluptatum, et rem fugiat deleniti praesentium provident nihil possimus illum facere, doloremque
        corrupti sit eos excepturi voluptatem necessitatibus debitis ipsam eaque. Perferendis itaque ipsam ea eius
        architecto quos?
        Dolor, suscipit! Quos quas provident repellat facere ipsa error impedit! Dolores nemo excepturi itaque quis
        numquam quidem odio cum quae aliquam corrupti? Nisi eaque repellendus vel voluptatem, deserunt vitae vero.
        Quo, et officiis, possimus iste voluptates, facilis autem excepturi rerum soluta eveniet obcaecati tempore eos
        earum? Voluptate recusandae odio ex molestias. Culpa repudiandae iure nemo ad modi placeat amet possimus?</p>
    <main class="container">
        <div class="row justify-content-around mt-5">
            <a href="/login" class="login-btn"> Login</a>
            <a href="/signup" class="signup-btn"> Signup</a>
        </div>
    </main>
</body>

</html>