<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <nav>
            <a>Feed</a>
            <a>TBR List/Book Tracker</a>
        </nav>
        <img src="#" alt="Currently Reading Book Cover">
        <h6>Currently Reading: Title</h6>
        <h6>Currently Reading: Page Number</h6>
    </section>
    <section>
        <h3>Status Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sed beatae illo hic, aspernatur minus
            ullam odit enim voluptas expedita. Eaque, distinctio eius molestiae placeat labore corrupti doloremque
            suscipit minima?</p>
        <a>Comment</a><span><a>Like</a></span>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quia ipsum alias atque dolorem nemo modi ad
            earum asperiores iure voluptates voluptatum non repudiandae obcaecati, temporibus dolorum? Distinctio,
            commodi officia.</p>
        <a>Comment</a><span><a>Like</a></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque, asperiores saepe in molestiae,
            totam consequuntur nemo nesciunt pariatur facilis odit quibusdam! Soluta, saepe omnis nobis consectetur
            quaerat maxime nostrum?</p>
        <a>Comment</a><span><a>Like</a></span>
    </section>
    <footer>
        <h2>User Name</h2>
        <span><i>Favorite Book Quote</i></span>
        <img src="#" alt="loggedin user's profile photo">
    </footer>
</body>

</html>